*.bak
*.class
*.ctxt
*.ear
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
.apt_generated/
.autotools
.buildpath
.cache-main
.cproject
.externalToolBuilders/
.factorypath
.loadpath
.metadata
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.recommenders
.recommenders/
.scala_dependencies
.settings/
.springBeans
.svn/
.target
.tern-project
.texlipse
.worksheet
/.tgitconfig
bac_a_sable/
bin/
buildNumber.properties
dependency-reduced-pom.xml
hs_err_pid*
local.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
sandbox/
target/
tmp/
*.sample
/.githooks
